* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    color: #00ff00;
    font-family: monospace, Arial, Helvetica, sans-serif;
}

header {
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 10;
    height: 10vh;
}

a{
    text-decoration: none;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

.intro, .skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 20px;
    box-sizing: border-box;
    min-height: 100vh;
    overflow: hidden;
}


.intro {
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 80vh;
}

.intro-text {
    max-width: 50%;
}

.intro h2 {
    margin: 0;
    font-size: 4rem;
}

.subtitle {
    margin: 0;
    font-size: 18px;
    align-self: flex-end;
    color: white;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #000; */
    padding: 50px;
}

#skills-title {
    font-size: 4rem;
}

#skills-description {
    color: white;
}

.skills-content {
    max-width: 50%;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.skills-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: space-evenly;
}

.icon {
    margin: 10px 0;
    cursor: pointer;
    /* background-color: #00ff00; */
    width: 50px; height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #000; */
    font-size: 14px;
    transition: transform .5s;
    transition: color .5s;
    background-color: black;
    border: 2px solid #00ff00;
    color: #00ff00;
}

.icon:hover {
    color: #000;
    background-color: #00ff00;
}

.clicked {
    color: #000;
    background-color: #00ff00;
}

.icon i {
    transform: scale(2);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    header h1,
    .intro h2 {
      font-size: 2rem;
    }
  
    .intro p {
      font-size: 1rem;
    }

    .skills {
        padding: 0% 10%;
    }
  
    #skills-title{
      font-size: 1.5rem;
    }

    #skills-description {
        font-size: 1rem
    }
  
    .icon {
      font-size: 2.5rem;
    }

    .icon i {
        transform: scale(0.7);
    }
  }